{% extends "layout/layout.jinja" %}
{% set highlight_tab = "stats" %}
{% set title = "Stats"%}
{% block main %}
<link rel="stylesheet" href="static/styles/admin/dashboard.css">
<script src="/static/scripts/chart.min.js"></script>
<h1>Stats</h1>
<div class="container">
{% set counters = ["alumni", "news", "posts", "comments", "likes", "dislikes"] %}
{% for counter in counters %}
    <a href="/{{counter}}">
        <h3 id="{{counter}}">{{counter|capitalize}} Count: {{stats[counter + "_count"]}}</h3>
    </a>
{% endfor %}
    <div class="counters">
{% for counter in counters %}
    <a href="/{{counter}}">
        <h3 id="{{counter}}">{{counter|capitalize}} Count: {{stats[counter + "_count"]}}</h3>
    </a>
{% endfor %}
</div>
{% set charts = ["graduation_year", "gender", "rating", "majors", "degrees", "graduation_semester", "work_status", "postgrad", "sector", "submitted", "marital_status", "communicate", "follow", "club"] %}
{% for chart in charts %}
<canvas id="{{chart}}"></canvas>
{% endfor %}
</div>
<script>
{# {% for chart in charts %} #}
{% for chart in charts %}
{% include "/admin/stats/charts/" + chart + ".jinja" %}
{% endfor %}
</script>
{% endblock %}