{% extends "layout/layout.jinja" %}
{% block main %}
<link href="/static/styles/other/error.css" rel="stylesheet">
<h1>Error {{ message[:3] }} </h1>
<p> {{ message[3:] }} </p>
{% include "utils/back.jinja" %}
{% endblock %}