{% extends "layout/layout.jinja" %}
{% set highlight_tab = "news" %}
{% set title = post.title %}
{% block main %}
{{ flask_tui_editor.css }}
<link rel="stylesheet" href="/static/styles/alumni/posts.css">
<script src="/static/scripts/toastui-editor-viewer.min.js"></script>
<div class="post-header">
    {% block author %}{% endblock %}posted {{post.publish_date|date}}
</div>
<div class="post">
    <h2 class="post-title">{{post.title}}</h2>
{% if post.thumbnail %}<img class="thumbnail" src="data:image/png;base64,{{post.thumbnail|encode}}">{% endif %}
    <div id="post"></div>
</div>
{% block edit %}{% endblock %}
{% block archive %}{% endblock %}
<script>
const post = new toastui.Editor({
    el: document.querySelector('#post'),
    initialValue: `{{post.content}}`,
    viewer: true,
});
</script>
{% endblock %}