{% extends "layout/layout.jinja" %}
{% set title = post.title %}
{% block main %}
{{ flask_tui_editor.css }}
<link rel="stylesheet" href="/static/styles/alumni/posts.css">
<script src="/static/scripts/toastui-editor-viewer.min.js"></script>
<div class="post-header">
    {% block author %}{% endblock %}posted {{post.publish_date|date}}
</div>
<div class="post">
    <h2 class="post-title">{{post.title}}</h2>
{% if post.thumbnail %}<img class="thumbnail" src="data:image/png;base64,{{post.thumbnail|encode}}">{% endif %}
    <div id="post"></div>
</div>
{% block edit %}{% endblock %}
{% block archive %}{% endblock %}
<div id="comment-form">
{% block comment %}{% endblock %}
</div>
<h3 id="comments">Comments</h3>
{% for comment in comments %}
<div class="comment">
<a href="/profile?id={{comment.user_id}}">
    <img src="{% if comment.profile_picture %}data:image/png;base64,{{comment.profile_picture|encode}}{% else %}/static/pics/pfp.png{% endif %}">
    {{ comment.display_name }}
</a>
&nbsp;posted {{ comment.publish_date|date }}
<div class="comment-content">
{% for line in comment.content.split("\n") %}
{{ line }}<br>
{% endfor %}
</div>
</div>
{% endfor %}
<script>
const post = new toastui.Editor({
    el: document.querySelector('#post'),
    initialValue: `{{post.content}}`,
    viewer: true,
});
</script>
{% endblock %}