.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 77rem;
    margin-inline: auto;
}

.container a {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #006226f5;
    text-decoration: none;
}

.container:first-of-type div {
    width: 9rem;
}

.container a img {
    height: 1rem;
    filter: invert(1);
    padding-right: 0.2rem;
}

.post {
    margin-bottom: 2rem;
    background-color: white;
    border-radius: 1rem;
    max-width: 77rem;
    margin-inline: auto;
    padding: 2rem;
    display: block;
    text-decoration: none;
    color: black;
}

.post p {
    font-size: 16px;
}

.post-title {
    text-align: center;
}

.posts {
    cursor: pointer;
}

#empty-message {
    text-align: center;
}

.thumbnail {
    max-width: 100%;
}

.green-btn {
    color: white;
    background-color: #006226f5;
    border: none;
    border-radius: 0.5rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
}

.edit {
    margin-left: 40%;
    transform: translateX(-50%);
}

.green-btn>img {
    height: 1rem;
    filter: invert(1);
    padding-right: 0.2rem;
}

.post-header {
    max-width: 77rem;
    margin-inline: auto;
    padding: 1rem;
}

.post-header img {
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: -0.5rem;
}

.post-header a {
    color: black;
    text-decoration: none;
}

#comments {
    margin-top: 2rem;
    text-align: center;
}

.comment {
    max-width: 77rem;
    margin-inline: auto;
}

.comment a {
    color: black;
    text-decoration: none;
}

.comment-content {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin-block: 1.5rem;
}

.comment img {
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: -0.5rem;
}

#comment-form form {
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    margin-inline: auto;
    margin-top: 2rem;
}

#comment-form textarea {
    margin-block: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px;
    resize: none;
    height: 5rem;
}

#comment-form input {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #006226f5;
    text-decoration: none;
    margin: 1rem;
    width: 4rem;
    margin-inline: auto;
}