#submit {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #006226f5;
    margin-top: 1rem;
    margin-inline: 50%;
}

form {
    max-width: 900px;
    margin-inline: auto;
}

h2 {
    text-align: center;
}

label {
    margin-left: 25%;
}

input[type="text"] {
    width: 20rem;
    margin-bottom: 1rem;
}

input[type="file"] {
    margin-top: 0.5rem;
    background-color: white;
    margin-left: 36%;
}

label[for="file"] {
    margin-left: 45%;
}