{% extends "layout/layout.jinja" %}
{% set highlight_tab = "news" %}
{% set title = "Alumni News" %}
{% block main %}
{{ flask_tui_editor.css }}
<link rel="stylesheet" href="/static/styles/alumni/posts.css">
<script src="/static/scripts/toastui-editor-viewer.min.js"></script>
<div class="container">
    <div>{% block archive %}{% endblock %}</div>
    <h2>{% block page_title %}News{% endblock %}</h2>
    <div>{% block announce %}{% endblock %}</div>
</div>
{% if posts %}
{% for post in posts %}
<div class="post posts" onclick="window.location.href='/{% block route %}announcement{% endblock %}?id={{post.id}}'">
    <h2 class="post-title">{{post.title}}</h2>
{% if post.thumbnail %}<img class="thumbnail" src="data:image/png;base64,{{post.thumbnail|encode}}">{% endif %}
    <div id="_{{post.id}}"></div>
</div>
{% endfor %}
<script>
{% for post in posts %}
const _{{post.id}} = new toastui.Editor({
    el: document.querySelector('#_{{post.id}}'),
    initialValue: `{{post.content}}`,
    viewer: true,
});
{% endfor %}
</script>
{% else %}
<p id="empty-message">There are no announcements here yet.</p>
{% endif %}
{% endblock %}