{% extends "layout/layout.jinja" %}
{% set highlight_tab = "manage" %}
{% set title = "Add Admin" %}
{% from "utils/form.jinja" import render_form %}
{% from "utils/back.jinja" import back %}
{% block main %}
<link rel="stylesheet" href="/static/styles/other/form.css">
<link rel="stylesheet" href="/static/styles/admin/add.css">
{{render_form(form)}}
{{ back("/admins") }}
{% endblock %}