{% extends "layout/layout.jinja" %}
{% set highlight_tab = "manage" %}
{% set title = "Manage Admin" %}
{% from "utils/form.jinja" import render_form %}
{% from "utils/back.jinja" import back %}
{% block main %}
<link rel="stylesheet" href="/static/styles/other/form.css">
<link rel="stylesheet" href="/static/styles/admin/add.css">
{{render_form(form)}}
<a href="{{form.delete}}" class="delete">Delete {{' '.join(form.form_title.split(' ')[2:])}}</a>
{{ back("/admins") }}
{% endblock %}