{% extends "layout/layout.jinja" %}
{% from "utils/back.jinja" import back %}
{% set highlight_tab = "manage" %}
{% set title = "Manage Admins" %}
{% block main %}
<link rel="stylesheet" href="/static/styles/admin/table.css">
{% if admins %}
<script src="static/scripts/TableFilter/tablefilter.js"></script>
<div class="container" style="max-width: 1000px;">
    {{ back("/manage") }}
    <h2>Admins</h2>
    <a href="/add">
        <button>
            <img src="/static/pics/icons/admin/add.svg">
            Add Admin
        </button>
    </a>
</div>
<div class="table-container" style="max-width: 1000px;">
    <table class="sortable">
        <thead>
            <tr>
                <th class="name sorttable_nosort">Username</th>
                <th class="sorttable_nosort">Is Manager</th>
                <th class="sorttable_nosort">Can Announce</th>
                <th class="sorttable_nosort">Has Data Access</th>
                <th class="sorttable_nosort">Is Moderator</th>
                <th class="sorttable_nosort">Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for admin in admins %}
            <tr>
                <td>{{ admin.username }}</td>
                <td>{% if admin.manage %} Yes {% else %} No {% endif %}</td>
                <td>{% if admin.announce %} Yes {% else %} No {% endif %}</td>
                <td>{% if admin.stats %} Yes {% else %} No {% endif %}</td>
                <td>{% if admin.mod %} Yes {% else %} No {% endif %}</td>
                <td><a href="/edit?id={{admin.id}}"><img src="/static/pics/icons/admin/edit.svg"></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script data-config>
    // TableFilter settings
    var tfConfig = {
        base_path: "static/scripts/TableFilter/",
        col_1: "select",
        col_2: "select",
        col_3: "select",
        col_4: "select",
        col_5: "none",
        popup_filters: true,
        mark_active_columns: true,
        highlight_keywords: true,
        themes: [{
            name: 'transparent'
        }],
    };

    // Instantiate TableFilter
    var tf = new TableFilter(document.querySelector("table"), tfConfig);
    tf.init();
</script>
{% else %}
<style>
main {
    text-align: center;
}
main>a {
    margin-left: 1rem;
}
</style>
<h3>There's no admins to manage.</h3>
{{ back("/manage") }}
<a href="/add">
    <button>
        <img src="/static/pics/icons/admin/add.svg">
        Add Admin
    </button>
</a>
{% endif %}
{% endblock %}