{% extends "layout/layout.jinja" %}
{% set highlight_tab = "manage" %}
{% block main %}
<link rel="stylesheet" href="/static/styles/admin/manage.css">
<a href="/hash">
    <button type="button">
        <img src="/static/pics/icons/admin/hash.svg">
        Hash Alumni Data File Content
    </button>
</a>
<a href="/upload">
    <button type="button">
        <img src="/static/pics/icons/admin/upload.svg">
        Upload Alumni From Data File
    </button>
</a>
<a href="/admins">
    <button type="button">
        <img src="/static/pics/icons/nav/manage-solid.svg">
        Manage Admins and Permissions
    </button>
</a>
{% endblock %}