{% extends "layout/layout.jinja" %}
{% from "utils/form.jinja" import render_form %}
{% set highlight_tab = "news" %}
{% set title = "Announce" %}
{% block main %}
<link href="/static/styles/post.css" rel="stylesheet">
<h2>Add an Announcement</h2>
{{ flask_tui_editor.css }}
{{ render_form(form) }}
{{ flask_tui_editor.js }}
<script src="/static/scripts/post.js"></script>
{% endblock %}