{% extends "layout/layout.jinja" %}
{% set highlight_tab = "news" %}
{% set title = "Alumni News" %}
{% block main %}
{{ flask_tui_editor.css }}
<link rel="stylesheet" href="/static/styles/alumni/posts.css">
<script src="/static/scripts/toastui-editor-viewer.min.js"></script>
<div class="container">
    <div></div>
    <h2>News</h2>
    <div>
        <a href="/announce">
            <img src="/static/pics/icons/plus.svg">
            Announce
        </a>
    </div>
</div>
{% if posts %}
{% for post in posts %}
<div id="_{{post.id}}" class="post posts" onclick="window.location.href='/post?id={{post.id}}'"></div>
{% endfor %}
<script>
{% for post in posts %}
const _{{post.id}} = new toastui.Editor({
    el: document.querySelector('#_{{post.id}}'),
    initialValue: `{{post.content}}`,
    viewer: true,
});
{% endfor %}
</script>
{% else %}
<p id="message">There are no announcements yet.</p>
{% endif %}
{% endblock %}