{% extends "alumni/news.jinja" %}
{% block archive %}
<a href="/archive">
    <img src="/static/pics/icons/admin/archive.svg">
    Archive
</a>
{% endblock %}
{% block announce %}
<a href="/announce">
    <img src="/static/pics/icons/plus.svg">
    Announce
</a>
{% endblock %}