main * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main img:not(li img) {
    max-height: 90px;
    max-width: 90px;
    margin-bottom: 0.8rem;
    border-radius: 0.3rem;
}
body {
    margin-top: 5vh;
    font-family: Arial, sans-serif;
    background-color: #e9f6e6;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container:not(details) {
    text-align: center;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}
h1, h3 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #333;
}
.grid-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    align-items: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    text-decoration: none;
    color: inherit;
    max-width: 200px;
    margin: 10px;
}
main a:hover {
    transform: translateY(-10px);
}
.icon {
    font-size: 3rem;
    margin-bottom: 10px;
    display: block;
}
h2 {
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 1rem;
}
@media (max-width: 768px) {
    h2 {
        font-size: 1rem;
    }
    h1, h3 {
        font-size: 2rem;
    }
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-template-columns: repeat(auto-fit, 200px);
    }
    main a {
        width: 175px;
        height: 175px;
    }
}
@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
    h1, h3 {
        font-size: 1.5rem;
    }
}
#more {
    text-align: left;
    font-size: 1.2rem;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 950px;
    width: 90vw;
}
ul, details, #more > a {
    padding: 10px 20px;
}
ul {
    padding-left: 30px;
}
li::marker {
    color: transparent;
}