<style>
#back {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #006226f5;
}
</style>
<button onclick="window.history.back()" id="back">Go Back</button>