{% from "utils/field.jinja" import render_field %}
{% macro render_form(form) %}
<form method="post" action="{{form.route}}" {{form.params}}>
    <p class="form-title">{{form.form_title}}</p>
{% for field in form %}
    {{ render_field(field) }}
{% endfor %}
</form>
{% endmacro %}