{% extends "other/post.jinja" %}
{% set highlight_tab = "posts" %}
{% block author %}
<a href="/profile?id={{post.user_id}}">
    <img src="data:image/png;base64,{{post.profile_picture|encode}}">{{post.display_name}}
</a>
{% endblock %}