{% extends "layout/layout.jinja" %}
{% set highlight_tab = "posts" %}
{% set title = "Alumni Posts" %}
{% block main %}
{{ flask_tui_editor.css }}
<link rel="stylesheet" href="/static/styles/alumni/posts.css">
<script src="/static/scripts/toastui-editor-viewer.min.js"></script>
<div class="container">
    <div>{% block approve %}{% endblock %}</div>
    <h2>Posts</h2>
    <div>
        <a href="/write_post">
            <img src="/static/pics/icons/plus.svg">
            Add A Post
        </a>
    </div>
</div>
{% if posts %}
{% for post in posts %}
<div class="post-header">
    <a href="/profile?id={{post.user_id}}">
        <img src="{% if post.profile_picture %}data:image/png;base64,{{post.profile_picture|encode}}{% else %}/static/pics/pfp.png{% endif %}">
        {{post.display_name}}
    </a>
    &nbsp;posted {{post.publish_date|date}}
</div>
<div id="_{{post.id}}" class="post posts" onclick="window.location.href='/post?id={{post.id}}'"></div>
{% endfor %}
<script>
{% for post in posts %}
const _{{post.id}} = new toastui.Editor({
    el: document.querySelector('#_{{post.id}}'),
    initialValue: `# {{post.title}}
{{post.content}}`,
    viewer: true,
});
{% endfor %}
</script>
{% else %}
<p id="empty-message">There are no posts yet.</p>
{% endif %}
{% endblock %}