{% extends "layout/layout.jinja" %}
{% from "utils/form.jinja" import render_form %}
{% from "utils/back.jinja" import back %}
{% set highlight_tab = "profile" %}
{% set title = "Change Password" %}
{% block main %}
<link href="/static/styles/form.css" rel="stylesheet">
{{ render_form(form) }}
{{ back("/edit_profile") }}
{% endblock %}