{% set tables = ["users", "admins", "posts", "news", "alumni", "alumni_posts", "social_links", "majors", "degrees", "marital_status", "comments", "likes", "dislikes", "follows", "stats"] %}
{% for table in tables %}
{% include 'schema/tables/' + table + '.sql' %}
{% endfor %}

{% include 'schema/triggers/admins/add.sql' %}

{% set alumni_triggers = ["add", "after_update", "before_update"] %}
{% for trigger in alumni_triggers %}
{% include 'schema/triggers/alumni/' + trigger + '.sql' %}
{% endfor %}

{% set stats = ["post", "news", "comment", "like", "dislike", "follow"] %}
{% for stat in stats %}
{% include 'schema/triggers/stats/' + stat + '/increment.sql' %}
{% include 'schema/triggers/stats/' + stat + '/decrement.sql' %}
{% endfor %}

{% set indexes = ["alumni", "admins"] %}
{% for index in indexes %}
{% include 'schema/indexes/' + index + '.sql' %}
{% endfor %}

{% include 'schema/inserts.sql'%}