<link href="/static/styles/layout/footer.css" rel="stylesheet">
<footer>
    <img src="/static/pics/backgrounds/green.jpg" class="background">
    <div class="footer-content">
        <div class="contact">
            <h2>Contact Us</h2>
            <p><img src="/static/pics/icons/footer/contact/phone.svg">Phone: +962 5 3491111</p>
            <p><img src="/static/pics/icons/footer/contact/fax.svg">Fax: &nbsp; &nbsp; +962 5 3532312</p>
            <p><img src="/static/pics/icons/footer/contact/location.svg">Address: Salt 19117. Jordan, P.O.Box 206</p>
        </div>
        <div class="links">
            <a href="/about">
                <img src="/static/pics/icons/footer/links/about.svg">
                About
            </a>
            <br>
            <a href="/static/user_manual.pdf" target="_blank">
                <img src="/static/pics/icons/footer/links/help.svg">
                Help
            </a>
            <br>
            <a href="https://www.bau.edu.jo/Grad/Home.aspx">
                <img src="/static/pics/icons/footer/links/cap.svg">
                BAU Graduates
            </a>
            <br>
            <a href="https://www.bau.edu.jo/Grad/CvForms.aspx">
                <img src="/static/pics/icons/footer/links/cv.svg">
                CV Tips
            </a>
            <br>
            <a href="/jobs">
                <img src="/static/pics/icons/footer/links/work.svg">
                Hiring Platforms
            </a>
            <br>
        </div>
        <div class="social-parent">
            <h2>Follow Us</h2>
            <div class="social-container">
                <a class="socialContainer containerOne" href="https://www.facebook.com/BalqaAppUni">
                    <img src="/static/pics/icons/footer/social/facebook.svg" class="social facebook">
                </a>
                <a class="socialContainer containerTwo" href="https://twitter.com/AlBalqaUni">
                    <img src="/static/pics/icons/footer/social/twitter.svg" class="social twitter">
                </a>
                <a class="socialContainer containerThree" href="https://www.youtube.com/channel/UCWFRnA8Gcso9MW14gBMJu1A">
                    <img src="/static/pics/icons/footer/social/youtube.svg" class="social youtube">
                </a>
                <a class="socialContainer containerFour" href="https://www.instagram.com/balqaappuni">
                    <img src="/static/pics/icons/footer/social/instagram.svg" class="social instagram">
                </a>
                <a class="socialContainer containerFive" href="https://www.linkedin.com/in/al-balqa-applied-university-6a2383184">
                    <img src="/static/pics/icons/footer/social/linkedin.svg" class="social linkdin">
                </a>
            </div>
        </div>
    </div>
</footer>