{% extends "layout/layout.jinja" %}
{% set highlight_tab = "profile" %}
{% from "utils/form.jinja" import render_form %}
{% block main %}
<link rel="stylesheet" href="/static/styles/alumni/profile.css">

<div class="container">
  <img src="https://www.w3schools.com/w3css/img_avatar3.png" class="image" style="width:100%">
    <a href="/pfp" class="middle text">Change Photo</a>
</div>

{# {{ render_form(form) }} #}
{% endblock %}