{% extends "layout/layout.jinja" %}
{% from "utils/profile.jinja" import render_profile %}
{% set highlight_tab = "profile" %}
{% set title = "Profile" %}
{% block main %}
<link rel="stylesheet" href="/static/styles/alumni/profile.css">
<link href="/static/styles/form.css" rel="stylesheet">
{{ render_profile(fields) }}
{% endblock %}