{% from "utils/chart.jinja" import chart %}
{% set labels = ["Yes", "No", "Unspecified"] %}
{% set data = [stats.club_count, stats.not_club_count, stats.alumni_count - stats.club_count] %}
{% set colors = ["#008951", "#FF6384", "#aaaaaa"] %}
{{ chart('doughnut', "club", labels, data, colors, '"Do support creating alumni club?"') }}