{% from "utils/chart.jinja" import chart %}
{% set labels = ["Yes", "No", "Unspecified"] %}
{% set data = [stats.communicate_count, stats.not_communicate_count, stats.alumni_count - stats.communicate_count] %}
{% set colors = ["#008951", "#FF6384", "#aaaaaa"] %}
{{ chart('doughnut', "communicate", labels, data, colors, '"Do you communicate with the university?"') }}