{% set degrees = ["bachelor", "master_thesis", "master_comprehensive"]%}
var degreesChart = new Chart(document.getElementById("degrees"), {
    type: 'pie',
    data: {
        labels: [{% for degree in degrees %}"{{degree|title}}", {% endfor %}],
        datasets: [{
            data: [{% for degree in degrees %}
                {{stats[degree + "_count"]}},
            {% endfor %}],
            backgroundColor: ["#FF6384", "#36A2EB", "#FFCE56"],
        }]
    },
    options: {
        responsive: true,
            plugins: {
            title: {
                display: true,
                text: 'Degrees Distribution',
                font: {
                    size: 18
                }
            },
            legend: {
                labels: {
                    font: {
                        size: 14
                    }
                }
            }
        }
    }
});