{% from "utils/chart.jinja" import chart %}
{% set degrees = ["bachelor", "master_thesis", "master_comprehensive"] %}
{% set labels = degrees|map("title")|list %}
{% set data = [] %}
{% for degree in degrees %}
    {{ data.append(stats[degree + "_count"]) or "" }}
{% endfor %}
{{ chart('pie', "degrees", labels, data, ["#FF6384", "#36A2EB", "#FFCE56"], "Degrees Distribution") }}