{% from "utils/chart.jinja" import chart %}
{% set labels = ["Yes", "No", "Unspecified"] %}
{% set data = [stats.follow_count, stats.not_follow_count, stats.alumni_count - stats.follow_count] %}
{% set colors = ["#008951", "#FF6384", "#aaaaaa"] %}
{{ chart('doughnut', "follow", labels, data, colors, '"Do you follow universities activities?"') }}