{% from "utils/chart.jinja" import chart %}
{% set labels = ["Male", "Female"] %}
{% set data = [stats.male_count, stats.female_count] %}
{% set colors = ["#36A2EB", "#FF6384"] %}
{{ chart('doughnut', "gender", labels, data, colors, "Gender Distribution") }}