{% from "utils/chart.jinja" import chart %}
{% set semesters = ["first_semester", "second_semester", "summer"] %}
{% set labels = semesters|map("title")|list %}
{% set data = [] %}
{% for semester in semesters %}
    {{ data.append(stats[semester + "_count"]) or "" }}
{% endfor %}
{% set colors = ["#FF6384", "#36A2EB", "#FFCE56"] %}
{{ chart('pie', "graduation_semester", labels, data, colors, "Graduation Semester") }}