{% from "utils/chart.jinja" import chart %}
{% set majors = ["computer_science", "software_engineering", "information_systems", "computer_graphics", "information_security"] %}
{% set labels = majors|map("title")|list %}
{% set data = [] %}
{% for major in majors %}
    {{ data.append(stats[major + "_count"]) or "" }}
{% endfor %}
{{ chart('pie', "majors", labels, data, ["#FF6384", "#36A2EB", "#FFCE56", "#4bc0c0", "#ff9f40"], "Majors Distribution") }}