{% from "utils/chart.jinja" import chart %}
{% set marital_status = ["married", "single", "divorced", "widowed"] %}
{% set labels = marital_status|map("title")|list %}
{% set data = [] %}
{% for status in marital_status %}
    {{ data.append(stats[status + "_count"]) or "" }}
{% endfor %}
{% set colors = ["#FF6384", "#36A2EB", "#FFCE56", "#4bc0c0", "#aaaaaa"] %}
{{ chart('pie', "marital_status", labels + ["Unspecified"], data + [stats.unspecified_marital_status_count], colors, "Marital Status") }}