{% from "utils/chart.jinja" import chart %}
{% set postgrad = ["postgrad", "no_postgrad", "postgrad_unspecified"] %}
{% set labels = postgrad|map("title")|list %}
{% set data = [] %}
{% for status in postgrad %}
    {{ data.append(stats[status + "_count"]) or "" }}
{% endfor %}
{% set colors = ["#36A2EB", "#FF6384", "#aaaaaa"] %}
{{ chart('pie', "postgrad", labels, data, colors, "Postgraduate Studies") }}