{% from "utils/chart.jinja" import chart %}
{% set ratings = ["excellent", "very_good", "good", "fair", "poor"] %}
{% set labels = ratings|map("title")|list %}
{% set data = [] %}
{% for rating in ratings %}
    {{ data.append(stats[rating + "_count"]) or "" }}
{% endfor %}
{% set colors = ["#FF6384", "#36A2EB", "#FFCE56", "#4bc0c0", "#ff9f40"] %}
{{ chart('pie', "rating", labels, data, colors, "Rating Distribution") }}