{% from "utils/chart.jinja" import chart %}
{% set sectors = ["public", "private"] %}
{% set labels = sectors|map("title")|list %}
{% set data = [] %}
{% for sector in sectors %}
    {{ data.append(stats[sector + "_sector_count"]) or "" }}
{% endfor %}
{% set colors = ["#36A2EB", "#FF6384"] %}
{{ chart('doughnut', "sector", labels, data, colors, "Work Sector") }}