{% from "utils/chart.jinja" import chart %}
{% set labels = ["Yes", "No"] %}
{% set data = [stats.survey_submitted_count, stats.alumni_count - stats.survey_submitted_count] %}
{% set colors = ["#008951", "#aaaaaa"] %}
{{ chart('doughnut', "submitted", labels, data, colors, 'Survey Submissions') }}