{% from "utils/chart.jinja" import chart %}
{% set work_status = ["work", "never_worked", "unspecified_work"]%}
{% set labels = work_status|map("title")|list %}
{% set data = [] %}
{% for status in work_status %}
    {{ data.append(stats[status + "_count"]) or "" }}
{% endfor %}
{% set colors = ["#36A2EB", "#FF6384", "#aaaaaa"] %}
{{ chart('pie', "work_status", labels, data, colors, "Work Status") }}