{% extends "other/post.jinja" %}
{% set highlight_tab = "news" %}
{% block edit %}
<a href="/edit_announcement?id={{post.id}}" class="edit green-btn">
    <img src="/static/pics/icons/admin/edit.svg">
    Edit
</a>
{% endblock %}
{% block archive %}
<a href="/archive_announcement?id={{post.id}}" class="green-btn">
    <img src="/static/pics/icons/admin/archive.svg">
    Move to Archive
</a>
{% endblock %}
{% block author %}
<a href="/profile?id={{post.user_id}}">
    <img src="data:image/png;base64,{{post.profile_picture|encode}}">{{post.display_name}}
</a>
{% endblock %}
